In [1]:
import pandas as pd

data = pd.read_csv("carData.csv", index_col=0)
data = data[data["TOTAL"] > 499]
data.sort_values("TOTAL", inplace=True, ascending=False)
total_cars = data.sum()["TOTAL"]
total_makes = data.sum()[1:]
data

,TOYOTA,HOLDEN,FORD,MAZDA,VOLKSWAGEN,HYUNDAI,MITSUBISHI,SUBARU,NISSAN,HONDA,...,SKODA,LAND ROVER,RENAULT,ISUZU,PORSCHE,MINI,CITROEN,FIAT,ALFA ROMEO,TOTAL
KAMBAH,1720,1108,1047,918,453,594,566,515,541,357,...,77,36,51,39,18,17,19,28,12,9279
NGUNNAWAL,1155,699,589,602,252,449,380,262,374,290,...,42,26,17,23,11,6,4,15,11,5951
GORDON,832,621,520,495,177,300,346,203,300,176,...,26,14,27,7,4,11,5,3,4,4667
WANNIASSA,866,536,495,431,224,310,329,279,245,198,...,32,26,31,16,5,7,15,14,9,4616
KALEEN,986,488,481,420,236,279,218,256,229,193,...,33,15,14,12,6,6,11,8,6,4396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OXLEY,192,135,115,92,50,75,82,57,65,34,...,8,8,8,4,2,1,1,3,3,1052
BARTON,186,60,71,74,113,56,25,67,18,49,...,5,8,14,2,9,10,7,5,8,1035
O'MALLEY,197,40,56,36,70,22,26,25,35,42,...,3,15,9,2,17,6,4,1,8,941
MACARTHUR,156,91,87,86,50,49,50,54,55,39,...,9,2,7,3,6,2,2,4,0,869
REID,152,43,41,55,58,39,26,41,35,44,...,8,8,6,4,8,3,5,2,3,722

In [2]:
temp_data = []
for make in total_makes.index:
    temp_data.append(total_makes[make] / total_cars)
makes_base = pd.DataFrame(temp_data, columns=["ratio"], index=total_makes.index)
makes_base

               ratio
HOLDEN      0.099696
FORD        0.094602
MAZDA       0.096209
VOLKSWAGEN  0.063206
HYUNDAI     0.062066
MITSUBISHI  0.056482
SUBARU      0.053699
NISSAN      0.051244
HONDA       0.048535
KIA         0.030277
BMW         0.024820
MERCEDES    0.022889
AUDI        0.017432
SUZUKI      0.017524
VOLVO       0.008734
JEEP        0.008581
LEXUS       0.007934
PEUGEOT     0.008039
SKODA       0.007956
LAND ROVER  0.006667
RENAULT     0.005365
ISUZU       0.003430
PORSCHE     0.002958
MINI        0.003172
CITROEN     0.002892
FIAT        0.002744
ALFA ROMEO  0.002298
TOTAL       1.000000

In [5]:
ratio_data = pd.DataFrame(index=data.index, columns=data.columns[1:])

for suburb in data.index:
    for make in ratio_data.columns:
        ratio_data.loc[suburb, make] = (data.loc[suburb, make] / data.loc[suburb, "TOTAL"]) / makes_base.loc[make, "ratio"]
ratio_data.to_csv("ratioData.csv", index_label="suburb")
ratio_data

,HOLDEN,FORD,MAZDA,VOLKSWAGEN,HYUNDAI,MITSUBISHI,SUBARU,NISSAN,HONDA,KIA,...,SKODA,LAND ROVER,RENAULT,ISUZU,PORSCHE,MINI,CITROEN,FIAT,ALFA ROMEO,TOTAL
KAMBAH,1.19774,1.19274,1.02831,0.772392,1.03141,1.07995,1.03357,1.13777,0.792704,1.17462,...,1.04303,0.581924,1.02445,1.2255,0.655846,0.577604,0.707968,1.09981,0.562747,1
NGUNNAWAL,1.17818,1.04623,1.05145,0.669964,1.21564,1.13053,0.819867,1.22642,1.00404,1.22101,...,0.887092,0.655312,0.532451,1.12691,0.624933,0.317866,0.232397,0.918673,0.804334,1
GORDON,1.33468,1.17779,1.10243,0.600034,1.03569,1.31258,0.81001,1.25442,0.776997,1.21016,...,0.700237,0.44994,1.07832,0.437331,0.28977,0.743083,0.370419,0.234284,0.372954,1
WANNIASSA,1.16472,1.13355,0.970496,0.767756,1.08204,1.26188,1.12556,1.03576,0.883779,1.0375,...,0.871352,0.844836,1.25175,1.01066,0.366214,0.478096,1.12354,1.10541,0.848419,1
KALEEN,1.11349,1.15661,0.993056,0.849366,1.02257,0.877984,1.08446,1.01657,0.904574,0.939157,...,0.943551,0.511798,0.593596,0.795927,0.461449,0.430305,0.86516,0.663272,0.593919,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OXLEY,1.28718,1.15554,0.90898,0.75196,1.14866,1.38002,1.009,1.20575,0.665898,1.13025,...,0.955836,1.14061,1.41741,1.10865,0.642754,0.299686,0.328659,1.03936,1.24091,1
BARTON,0.581478,0.725135,0.743145,1.72734,0.871756,0.427649,1.2055,0.339383,0.975439,1.14881,...,0.60721,1.15935,2.52121,0.563429,2.9399,3.04609,2.3384,1.76072,3.36344,1
O'MALLEY,0.426376,0.629071,0.397645,1.17693,0.376687,0.489183,0.494746,0.725833,0.919611,0.456289,...,0.40072,2.39093,1.78268,0.619712,6.10787,2.01022,1.46971,0.38732,3.69942,1
MACARTHUR,1.05037,1.05828,1.02863,0.910313,0.908497,1.01868,1.15719,1.2351,0.924675,1.0642,...,1.30176,0.345203,1.50141,1.00659,2.33433,0.725593,0.79574,1.67764,0,1
REID,0.597384,0.600272,0.791786,1.27096,0.870312,0.637564,1.0575,0.945996,1.25562,0.503201,...,1.39271,1.66195,1.54894,1.61537,3.74613,1.30999,2.39439,1.00961,1.80808,1

In [6]:
car_suburbs = pd.DataFrame(index=ratio_data.index, columns=["top_make", "ratio"])
for index, row in ratio_data.iterrows():
    car_suburbs.loc[index, "top_make"] = row.sort_values(ascending=False).index[0]
    car_suburbs.loc[index, "ratio"] = row.sort_values(ascending=False)[0]
car_suburbs.sort_index(inplace=True)
car_suburbs.to_csv("car_suburb.csv", index_label="suburb")
car_suburbs

              top_make    ratio
AINSLIE        PEUGEOT  2.33806
AMAROO      ALFA ROMEO  1.40098
ARANDA         CITROEN  3.07789
BANKS             JEEP   1.5355
BARTON      ALFA ROMEO  3.36344
...                ...      ...
WATSON          SUBARU  1.51008
WEETANGERA     CITROEN   2.4874
WESTON      LAND ROVER  1.64197
WRIGHT         RENAULT  1.87091
YARRALUMLA     PORSCHE  6.74379

[96 rows x 2 columns]